.profile__edit-btn {
  box-sizing: border-box;
  background-color: #000000;
  background-image: url(../../../images/profile_edit-btn.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #FFFFFF;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
}
