.profile__wrap {
  padding-top: 26px;
  padding-bottom: 33px;
  display: grid;
  grid-template-columns: 36px 189px 36px;
  grid-template-rows: min-content 2fr;
  gap: 9px 10px;
  grid-template-areas:
  ". name btn"
  "text text text";
}

@media screen and (min-width: 1280px) {
  .profile__wrap {
    grid-template-columns: 10px 294px 30px 214px;
    grid-template-areas:
    ". name btn ."
    ". text text .";
    gap: 10px 18px;
    padding-top: 30px;
  }
}
