.btn_type_add {
  background-image: url(../../../images/btn_add.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 282px;
  height: 50px;
  border: 2px solid #FFFFFF;
  transition: opacity .3s ease;
}

.btn_type_add:hover {
  opacity: .25;
  cursor: pointer;
}

@media screen and (min-width: 1280px) {
  .btn_type_add {
    background-image: url(../../../images/btn_add_desktop.svg);
    width: 150px;
  }
}
